* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.popup {
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: #5a6268;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    right: 10px;
    bottom: 10px;
    z-index: 11111;
}

.addUsersContainer {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(90, 98, 104, 0.3);
    backdrop-filter: blur(12px);

    .formAddUser {
        width: 400px;
        min-height: 400px;
        background-color: #5a6268;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 1px 5px #7b868e;


        .formHeader {
            display: flex;
            justify-content: flex-end;

            i {
                font-size: 24px;
                color: #fff;
                cursor: pointer;
            }
        }

        .inputContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .nameInpCont {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;

                input {
                    width: 160px;
                    outline: none;
                    padding-left: 10px;
                    height: 40px;
                    border-radius: 10px;
                    border: 2px solid #fff;
                    background: transparent;
                    transition: 0.1s ease;
                    font-size: 15px;
                    color: #fff;
                }

                .namePlaceholder {
                    position: absolute;
                    font-size: 16px;
                    color: #f0ffff;
                    margin: 0 20px;
                    background-color: #5a6268;
                    transition: 0.2s ease;
                }

                .userNamePlaceholder {
                    position: absolute;
                    font-size: 16px;
                    color: #f0ffff;
                    margin-left: 200px;
                    background-color: #5a6268;
                    transition: 0.2s ease;
                }
            }

            .input {
                width: 340px;
                outline: none;
                padding-left: 10px;
                height: 40px;
                border-radius: 10px;
                border: 2px solid #fff;
                background: transparent;
                transition: 0.1s ease;
                font-size: 15px;
                color: #fff;
                margin: 10px;
            }

            .emailPlaceholder {
                position: absolute;
                font-size: 16px;
                color: #f0ffff;
                background-color: #5a6268;
                transition: 0.2s ease;
                margin: 80px 260px 0 0;
            }

            .phonePlaceholder {
                position: absolute;
                font-size: 16px;
                color: #f0ffff;
                background-color: #5a6268;
                transition: 0.2s ease;
                margin: 140px 248px 0 0;
            }

            .websitePlaceholder {
                position: absolute;
                font-size: 16px;
                color: #f0ffff;
                background-color: #5a6268;
                transition: 0.2s ease;
                margin: 200px 238px 0 0;
            }

            .companyAddUserBtn,
            .addressAddUserBtn {
                color: #fff;
                margin: 10px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                background-color: #7b868e;
                border-radius: 10px 10px 0 0;
            }

            .companyAddUserContainer,
            .addressAddUserContainer {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background-color: #7b868e;
                border-radius: 0 0 10px 10px;

                .companyNamePlaceholder {
                    position: absolute;
                    font-size: 16px;
                    color: #f0ffff;
                    background-color: #7b868e;
                    transition: 0.2s ease;
                    margin: 20px 173px 0 0;
                }

                .catchPhrasePlaceholder {
                    position: absolute;
                    font-size: 16px;
                    color: #f0ffff;
                    background-color: #7b868e;
                    transition: 0.2s ease;
                    margin: 80px 195px 0 0;
                }

                .bsPlaceholder {
                    position: absolute;
                    font-size: 16px;
                    color: #f0ffff;
                    background-color: #7b868e;
                    transition: 0.2s ease;
                    margin: 140px 280px 0 0;
                }


                .streetPlaceholder {
                    position: absolute;
                    font-size: 16px;
                    color: #f0ffff;
                    background-color: #7b868e;
                    transition: 0.2s ease;
                    margin: 20px 250px 0 0;
                }

                .suitePlaceholder {
                    position: absolute;
                    font-size: 16px;
                    color: #f0ffff;
                    background-color: #7b868e;
                    transition: 0.2s ease;
                    margin: 80px 260px 0 0;
                }

                .cityPlaceholder {
                    position: absolute;
                    font-size: 16px;
                    color: #f0ffff;
                    background-color: #7b868e;
                    transition: 0.2s ease;
                    margin: 140px 270px 0 0;
                }

                .zipcodePlaceholder {
                    position: absolute;
                    font-size: 16px;
                    color: #f0ffff;
                    background-color: #7b868e;
                    transition: 0.2s ease;
                    margin: 200px 235px 0 0;
                }
            }


            #addUser {
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                background-color: #7b868e;
                margin-top: 20px;
                cursor: pointer;
                color: #29ef3d;
                box-shadow: 0 0 10px 1px #29ef3d;
            }
        }
    }
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        .logo {
            display: flex;
            align-items: center;

            img {
                width: 65px;
                margin-right: 20px;
            }
        }

        .controlContainer {
            display: flex;
            align-items: center;

            #themeBtn {
                margin: 15px;
                cursor: pointer;
                padding: 12px 14px;
                background-color: #5a6268;
                border-radius: 10px;
                color: #fff;
            }

            #openUsersConatiner {
                margin: 15px;
                cursor: pointer;
                padding: 12px;
                background-color: #5a6268;
                border-radius: 10px;
                color: #fff;
            }
        }
    }

    .UsersContainer {
        width: 100%;
        min-height: 90vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .userItem {
            width: 300px;
            min-height: 400px;
            background-color: #5a6268;
            border-radius: 10px;
            padding: 20px;
            color: #fff;
            margin: 10px;
            box-shadow: 0 5px 10px #333;

            .userIconContainer {
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                .userIcon {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    box-shadow: 0 1px 5px #fff;

                    i {
                        color: #5a6268;
                        font-size: 52px;
                    }
                }

            }

            p {
                margin: 10px 0;

                .greenColor {
                    color: #29ef3d;
                    font-weight: 600;
                }
            }

            .addressBtn,
            .companyBtn {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #7b868e;
                padding: 10px;
                ;
                border-radius: 10px 10px 0 0;

                p {
                    margin: 0;
                }

                i {
                    cursor: pointer;
                }
            }

            .addressContainer,
            .companyContainer {
                display: none;
                flex-direction: column;
                background-color: #7b868e;
                padding: 10px;
                border-radius: 10px;
                border-radius: 0 0 10px 10px;
            }
        }
    }
}

@media screen and (max-width: 500px){
    .addUsersContainer {
        .formAddUser {
            padding: 20px 10px;
        }
    }
}