* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.addUsersContainer {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 98, 104, 0.3);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
.addUsersContainer .formAddUser {
  width: 400px;
  min-height: 600px;
  background-color: #5a6268;
  border-radius: 10px;
  padding: 20px;
}
.addUsersContainer .formAddUser .formHeader {
  display: flex;
  justify-content: flex-end;
}
.addUsersContainer .formAddUser .formHeader i {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.addUsersContainer .formAddUser .inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.addUsersContainer .formAddUser .inputContainer .nameInpCont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.addUsersContainer .formAddUser .inputContainer .nameInpCont input {
  width: 160px;
  outline: none;
  padding-left: 10px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: transparent;
  transition: 0.1s ease;
  font-size: 15px;
  color: #fff;
}
.addUsersContainer .formAddUser .inputContainer .nameInpCont .namePlaceholder {
  position: absolute;
  font-size: 16px;
  color: #f0ffff;
  margin: 0 20px;
  background-color: #5a6268;
  transition: 0.2s ease;
}
.addUsersContainer .formAddUser .inputContainer .nameInpCont .userNamePlaceholder {
  position: absolute;
  font-size: 16px;
  color: #f0ffff;
  margin: 0 200px;
  background-color: #5a6268;
  transition: 0.2s ease;
}
.addUsersContainer .formAddUser .inputContainer .input {
  width: 340px;
  outline: none;
  padding-left: 10px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: transparent;
  transition: 0.1s ease;
  font-size: 15px;
  color: #fff;
  margin: 10px;
}
.addUsersContainer .formAddUser .inputContainer .emailPlaceholder {
  position: absolute;
  font-size: 16px;
  color: #f0ffff;
  background-color: #5a6268;
  transition: 0.2s ease;
  margin: 80px 260px 0 0;
}
.addUsersContainer .formAddUser .inputContainer p {
  color: #fff;
  margin: 10px;
}
.addUsersContainer .formAddUser .inputContainer .phonePlaceholder {
  position: absolute;
  font-size: 16px;
  color: #f0ffff;
  background-color: #5a6268;
  transition: 0.2s ease;
  margin: 140px 248px 0 0;
}
.addUsersContainer .formAddUser .inputContainer .websitePlaceholder {
  position: absolute;
  font-size: 16px;
  color: #f0ffff;
  background-color: #5a6268;
  transition: 0.2s ease;
  margin: 200px 238px 0 0;
}
.addUsersContainer .formAddUser .inputContainer .companyNamePlaceholder {
  position: absolute;
  font-size: 16px;
  color: #f0ffff;
  background-color: #5a6268;
  transition: 0.2s ease;
  margin: 300px 173px 0 0;
}
.addUsersContainer .formAddUser .inputContainer .catchPhrasePlaceholder {
  position: absolute;
  font-size: 16px;
  color: #f0ffff;
  background-color: #5a6268;
  transition: 0.2s ease;
  margin: 360px 195px 0 0;
}
.addUsersContainer .formAddUser .inputContainer .bsPlaceholder {
  position: absolute;
  font-size: 16px;
  color: #f0ffff;
  background-color: #5a6268;
  transition: 0.2s ease;
  margin: 420px 280px 0 0;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.wrap header .logo {
  display: flex;
  align-items: center;
}
.wrap header .logo img {
  width: 65px;
  margin-right: 20px;
}
.wrap header .controlContainer {
  display: flex;
  align-items: center;
}
.wrap header .controlContainer #themeBtn {
  margin: 15px;
  cursor: pointer;
  padding: 12px 14px;
  background-color: #5a6268;
  border-radius: 10px;
  color: #fff;
}
.wrap header .controlContainer #addUsers {
  margin: 15px;
  cursor: pointer;
  padding: 12px;
  background-color: #5a6268;
  border-radius: 10px;
  color: #fff;
}
.wrap .UsersContainer {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.wrap .UsersContainer .userItem {
  width: 300px;
  min-height: 400px;
  background-color: #5a6268;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  margin: 10px;
  box-shadow: 0 5px 10px #333;
}
.wrap .UsersContainer .userItem .userIconContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.wrap .UsersContainer .userItem .userIconContainer .userIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 5px #fff;
}
.wrap .UsersContainer .userItem .userIconContainer .userIcon i {
  color: #5a6268;
  font-size: 52px;
}
.wrap .UsersContainer .userItem p {
  margin: 10px 0;
}
.wrap .UsersContainer .userItem p .greenColor {
  color: #29ef3d;
  font-weight: 600;
}
.wrap .UsersContainer .userItem .addressBtn,
.wrap .UsersContainer .userItem .companyBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7b868e;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.wrap .UsersContainer .userItem .addressBtn p,
.wrap .UsersContainer .userItem .companyBtn p {
  margin: 0;
}
.wrap .UsersContainer .userItem .addressBtn i,
.wrap .UsersContainer .userItem .companyBtn i {
  cursor: pointer;
}
.wrap .UsersContainer .userItem .addressContainer,
.wrap .UsersContainer .userItem .companyContainer {
  display: none;
  flex-direction: column;
  background-color: #7b868e;
  padding: 10px;
  border-radius: 10px;
  border-radius: 0 0 10px 10px;
}/*# sourceMappingURL=style.css.map */